@import "../../../../../variables";

.item {
    cursor: pointer;
    width: 100%;
    max-width: $area-width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 2px 2px 8px rgba(0, 7, 26, 0.04);
    border-radius: 17px;
    border: none;
    @include font-15-400(#4E5157);
    padding: 18px 48px 17px 14px;
}